main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}



/* blog previews / list */
.tender-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.tender-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.tender-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}


.tender-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px;

  
}

